def sorozat(x):
    y=[]
    for i in x:
        y.append(i)
    for j in range(len(x)-1,0,-1):
        for i in range(0,j):
            if x[i]>x[i+1]:
                x[i],x[i+1]=x[i+1],x[i]
    if y==x:
        return True
    else:
        return False
